@media screen and (min-width:440px) {
  .container__menu-title > h1{
    font-size: 3rem;
  }
}
@media screen and (min-width:660px) {
  .container__menu-title > h1{
    font-size: 5rem;
  }
}
@media screen and (min-width:810px) {
  .container__menu-title > h1{
    font-size: 7rem;
  }
}
