<app-menu-title></app-menu-title>

<div class="container__articles">
  <div class="articles__content">
    <app-subtitle subtitle="notícias"></app-subtitle>
    <div class="articles__content__main">
      <div class="articles__main">
        <app-big-card
          Id="1"
          photoCover="./assets/bigcard_photo1.jpg"
          cardTitle="Astro de Prison Break avisa que série terá uma sexta temporada"
          cardDescription="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum ornare turpis ut risus lacinia sagittis. In in vehicula leo, eu tincidunt enim. Quisque nec est sollicitudin..."
          >
        </app-big-card>
      </div>
      <div class="articles__others">
        <app-small-card
          Id="2"
          cardTitle="Crítica da quinta temporada"
          cardDescription="Pellentesque nec libero nec lorem viverra auctor nec in justo. Aenean nec imperdiet libero, ac scelerisque orci..."
          photoCover="./assets/smallcard_photo1.jpg"
        >
        </app-small-card>

        <app-small-card
          Id="3"
          cardTitle="Ator é demitido da série após recusar vacina da Covid"
          cardDescription="Duis massa nibh, suscipit sed tellus vel, pellentesque scelerisque nisi..."
          photoCover="./assets/smallcard_photo2.jpg"
        >
        </app-small-card
        >

        <app-small-card
          Id="4"
          cardTitle="Fugas e reviravoltas de tirar o fôlego"
          cardDescription="Suspendisse placerat lobortis eros nec semper. Proin eu malesuada quam. Maecenas at enim iaculis, vestibulum odio quis, pretium odio..."
          photoCover="./assets/smallcard_photo3.jpg"
        >
        </app-small-card>
      </div>
    </div>

    <app-subtitle subtitle="atores"></app-subtitle>
    <div class="actors__content__main">
      <app-actor-card
      photoCover="./assets/actor1.jpg"
      actorName="Wentworth Miller"
      actorChar="Michael Scofield"></app-actor-card>
      <app-actor-card
      photoCover="./assets/actor2.jpg"
      actorName="Dominic Purcell"
      actorChar="Lincoln Burrows"></app-actor-card>
      <app-actor-card
      photoCover="./assets/actor3.jpg"
      actorName="Sarah Wayne Callies"
      actorChar="Dr. Sara Tancredi"></app-actor-card>
      <app-actor-card
      photoCover="./assets/actor4.jpg"
      actorName="Robert Knepper"
      actorChar="Theodore 'T-Bag' Bagwell"></app-actor-card>
      <app-actor-card
      photoCover="./assets/actor5.jpg"
      actorName="Amaury Nolasco"
      actorChar="Fernando Sucre"></app-actor-card>
      <app-actor-card
      photoCover="./assets/actor6.jpg"
      actorName="Wade Williams"
      actorChar="Brad Bellick"></app-actor-card>
    </div>
  </div>
</div>
