.container__articles{
  margin-top: 2rem;
  /* padding:1.5rem; */
  display: flex;
  justify-content: center;
  margin-bottom: 6rem;
}
.articles__content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(255,255,255,1);
  width:95%;
  padding-bottom: 2rem;
}
.articles__content__main{
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
}
.articles__main{
  /* border:1px solid blue; */
  width:100%;
}
.articles__others{
  margin-top:2rem;
}
.actors__content__main{
  display: flex;
  flex-wrap: wrap;
  /* flex-flow: row wrap; */
  /* justify-content: space-between; */
  /* flex-wrap: wrap;
  flex-grow: 1; */
}
.actors__content__main > *{
  flex: 1 1 100%;
}
